.modal-body {
    font-size: 10pt;
}

.modal-header {
    font-size: 20pt;
}

.column {
    width: 45%;
}

/* Css para o Modal de criar evento */

#create-content-left {
    float:left;
}

#create-content-right {
    float: right;
}

#footer-create {
    margin-top: 400px;
}

/* CSS para o modal de mostrar evento */


#show-content-right {
    float: right;
}

#show-content-left {
    float: left;
}

#footer-show {
    margin-top: 400px;
}

#delete-event-img {
    float:left;
    width: 30px;
}

/* CSS para o modal de update */

#update-content-left {
    float: left;
}

#update-content-right {
    float: right;
}

#footer-update {
    margin-top: 400px;
}

#header {
    width: 30%;
    position:relative;
    left: 26.5rem;
    padding-bottom: 2%;
}

#info-sala{
    position:relative;
    float: right;
}

#info-sala-filtro {
    margin-top: 25px;
}

#content-info-sala {
    font-size: 13pt;
}
